<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Hellofresh Test Suite" parallel="methods" thread-count="2">
    <test name="Hellofresh tests">
        <packages>
            <!-- Package name of the TESTNG test classes-->
            <package name="hellofresh.qa.test" />
        </packages>
    </test>
    <listeners>
        <listener class-name="hellofresh.qa.tools.TestListener"/>
    </listeners>
</suite>